<!DOCTYPE html>

<html>

<head>

  <title>DDV-TiTiler</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css" />

  <link href="{{ url_for('static', path='/css/assembly.min.css') }}" rel='stylesheet'>
  <script src="{{ url_for('static', path='/js/assembly.js') }}"></script>
  <script src="{{ url_for('static', path='/js/d3.v4.js') }}"></script>
  <script src='https://unpkg.com/pickadate@5.0.0-alpha.3/builds/index.js'></script>

  <script src="{{ url_for('static', path='env.js') }}"></script>
  
  <style>
    html,
    body {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }

    #map {
      position: relative;
      width: 100.0%;
      height: 100.0%;
      left: 0.0%;
      top: 0.0%;
    }

    #toolbar {
      height: 35px;
    }

    #toolbar li {
      display: block;
      color: #fff;
      background-color: #556671;
      font-weight: 700;
      font-size: 12px;
      padding: 5px;
      height: 100%;
      width: 100%;
      text-transform: uppercase;
      text-align: center;
      text-decoration: none;
      outline: 0;
      cursor: pointer;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    #toolbar li svg {
      font-size: 25px;
      line-height: 25px;
      padding-bottom: 0;
    }

    #toolbar li:hover {
      background-color: #28333b;
    }

    #toolbar li.active {
      color: #000;
      background-color: #fff;
    }

    #toolbar li.disabled {
      pointer-events: none;
      opacity: 0.4;
    }

    #menu {
      left: 0;
      top: 10px;
      width: 250px;
      background-color: rgb(111, 111, 111);
      z-index: 999;
    }

    #menu.off {
      left: -200px;
      background-color: red;
    }

    #menu-content section {
      display: none;
    }

    #menu-content section.active {
      display: inherit;
    }

    #results-items {
      text-align: left;
      color: #393939;
    }

    #results-items .list-element .col {
      border-top: 1px solid #bfbfbf;
    }

    #results-items .list-element .col {
      color: #393939;
      cursor: pointer;
    }

    #results-items .list-element .col:hover {
      background-color: rgb(88, 84, 84);
      background-color: rgba(88, 84, 84, 0.2);
    }

    .row {
      display: flex;
      width: 100%;
      justify-content: center;
    }

    .zoom-info {
      z-index: 10;
      position: absolute;
      bottom: 17px;
      right: 0;
      padding: 5px;
      width: auto;
      height: auto;
      font-size: 12px;
      color: #000;
    }
  </style>

</head>

<body>

  <div class="folium-map" id="map"></div>

  <div id='menu' class='flex-child w250 w250-ml absolute bg-white off'>

    <div id='menu-content' class='relative '>

      <section id='data-layers' class='px6 py6 active'>
        <div class='txt-h5 mb6 color-black'>
          <svg class='icon icon--l inline-block'>
            <use xlink:href='#icon-layers' />
          </svg>Date Range
        </div>
        <div class='px6 pt6 pb6'>
          <div class='align-center'>

            <!-- Placeholder is example, not default value. -->   
            <input id="start-date" type="text" placeholder="2022-07-01T00:00:00Z" />
            <input id="end-date" type="text" placeholder="2022-07-06T00:00:00Z" /> 

            <!--
            <input id="start-date" type="date" value="2022-07-01T00:00:00Z" />
            <input id="end-date" type="date" value="2022-07-06T00:00:00Z" /> 
            -->
          </div>
        </div>
      </section>

      <section id='data-layers' class='px6 py6 active'>
        <div class='txt-h5 mb6 color-black'>
          <svg class='icon icon--l inline-block'>
            <use xlink:href='#icon-layers' />
          </svg>Collection
        </div>
        <div id='select-layer' class='align-center'>
          <div class='select-container'>
            <select id='layer-selector' class='select select--s select--stroke wmax-full color-black'></select>
            <div class='select-arrow color-black'></div>
          </div>
        </div>
      </section>

      <section id='3b-section' class='px6 py6 active'>
        <div class='txt-h5 mb6 color-black'>
          <svg class='icon icon--l inline-block'>
            <use xlink:href='#icon-layers' />
          </svg> RGB
        </div>
        <div id='rgb-buttons' class='align-center px6 py6'>
          <div class='select-container'>
            <select id='r-selector' class='select select--s select--stroke wmax-full color-red'></select>
            <div class='select-arrow color-black'></div>
          </div>
          <div class='select-container'>
            <select id='g-selector' class='select select--s select--stroke wmax-full color-green'></select>
            <div class='select-arrow color-black'></div>
          </div>
          <div class='select-container'>
            <select id='b-selector' class='select select--s select--stroke wmax-full color-blue'></select>
            <div class='select-arrow color-black'></div>
          </div>
        </div>
      </section>

      <div id="minmax-data" class='px6 py6 none'>
        <div class='txt-h5 mb6 color-black'>
          <svg class='icon icon--l inline-block'>
            <use xlink:href='#icon-layers' />
          </svg> Rescale
        </div>
        <div class="row">
          <input id="data-min" class='input input--s w65-ml w60 inline-block align-center color-black' value='0' />
          <input id="data-max" class='input input--s w65-ml w60 inline-block align-center color-black' value='0' />
        </div>
      </div>

      <section id='display' class='px12 pt12 pb12 active'>
        <div class='align-center mb12'>
          <button id='dynamic_btn' class='btn center' title='Dynamic'>Dynamic</button>
        </div>
      </section>

    </div>
  </div>

  <script>

    // Outside containers use 0.0.0.0
    // ClientIp = "0.0.0.0"

    // Inside containers use name as ip.
    // ClientIp = "ddvclient"

    ServerIp = env.ServerIp
    // console.log("ServerIp: " + ServerIp)

    var red_v, green_v, blue_v, min_v, max_v
    var layer_img
    var area
    var file_name = ""
    var layerGroup = new L.LayerGroup();
    var center_lon, center_lat

    var datajson
    var obj

    var registerid

    L_NO_TOUCH = false;
    L_DISABLE_3D = false;

    var img = {
      data_stat: undefined, // Statistics.
      data_type: undefined,
      band_name: undefined
    }

    // Set menu values.
    var scope = { collections: undefined, features: [], next_token: undefined, limit: 100, query: {} }

    const startpicker = window.pickadate.create()
    const startdate = document.getElementById('start-date')
    window.pickadate.render(startdate, startpicker)
    startdate.addEventListener('pickadate:change', () => {
      startdate.value = startpicker.getValue('YYYY-MM-DD[T]HH:mm:ss[Z]')
    })

    const endpicker = window.pickadate.create()
    const enddate = document.getElementById('end-date')
    window.pickadate.render(enddate, endpicker)
    enddate.addEventListener('pickadate:change', () => {
      enddate.value = endpicker.getValue('YYYY-MM-DD[T]HH:mm:ss[Z]')
    })

    // Default values.
    // document.getElementById("start-date").defaultValue = "2022-09-09T00:00:00Z";
    // document.getElementById("end-date").defaultValue = "2022-07-06T00:00:00Z";
    document.getElementById("start-date").defaultDate = "2022-09-09T00:00:00Z";
    document.getElementById("end-date").defaultDate = "2022-07-06T00:00:00Z";

    const layerList = document.getElementById('layer-selector')
    const layers = [
      { name: 'HLSS30.v2.0' },
      { name: 'HLSL30.v2.0' },
      { name: 'MODIS' },
      { name: 'VIIRS' },
      { name: 'GOES' }
    ]
    layers.forEach((p) => {
      let opt = document.createElement('option')
      opt.setAttribute('name', p.name)
      opt.text = p.name
      layerList.appendChild(opt)
    })

    document.getElementById('menu').classList.toggle('off') // Hide menu.

    img.band_name = ['B01', 'B02', 'B03', 'B04', 'B05', 'B06', 'B07', 'B08', 'B8A', 'B09', 'B10', 'B11', 'B12']

    const nbands = img.band_name.length

    const rList = document.getElementById('r-selector')
    for (var i = 0; i < nbands; i++) {
      let l = document.createElement('option')
      l.setAttribute('band', img.band_name[i])
      let name = img.band_name[i]
      l.setAttribute('name', name)
      l.text = name
      // Index, not band number, for red channel.
      if (i === 3) l.selected = "selected"
      rList.appendChild(l)
    }

    const gList = document.getElementById('g-selector')
    for (var i = 0; i < nbands; i++) {
      let l = document.createElement('option')
      l.setAttribute('band', img.band_name[i])
      let name = img.band_name[i]
      l.setAttribute('name', name)
      l.text = name
      if (i === 2) l.selected = "selected"
      gList.appendChild(l)
    }

    const bList = document.getElementById('b-selector')
    for (var i = 0; i < nbands; i++) {
      let l = document.createElement('option')
      l.setAttribute('band', img.band_name[i])
      let name = img.band_name[i]
      l.setAttribute('name', name)
      l.text = name
      if (i === 1) l.selected = "selected"
      bList.appendChild(l)
    }

    document.getElementById('minmax-data').classList.remove('none')
    document.getElementById('data-min').value = 0
    document.getElementById('data-max').value = 4000

    var map
    const add_map = (lat, lon) => {
      map = L.map(
        "map",
        {
          center: [lat, lon],
          crs: L.CRS.EPSG3857, // WebMercator hls
          // crs: L.CRS.EPSG4326, // Geography
          // crs: L.CRS.EPSG3395, 
          // crs: L.CRS.Earch,
          // crs: L.CRS.Simple,
          maxNativeZoom: 12,
          zoom: 10,
          minZoom: 0, // Define zoom level 0, 32. 
          maxZoom: 32, 
          zoomControl: false,
          preferCanvas: false,
        }
      );
      L.control.zoom({ position: 'topright' }).addTo(map);
    }
    // DC center.
    center_lat = 38.89886481913306
    center_lon = -77.03761689707353
    add_map(center_lat, center_lon)
    layerGroup.addTo(map);

    const add_basemap = () => {
      var layer_basemap = L.tileLayer(
        "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
        {
          "detectRetina": false,
          "maxNativeZoom": 12,
          "minZoom": 0,
          "maxZoom": 32,
          "noWrap": false,
          "opacity": 1,
          "subdomains": "abc",
          "tms": false
        }
      ).addTo(map);
    }

    add_basemap()

    const remove_layer = () => {
      // scope.features = []
      // scope.next_token = undefined
      // scope.query = {}
      // document.getElementById('results-items').innerHTML = ''
    }

    red_v = document.getElementById('r-selector').value
    green_v = document.getElementById('g-selector').value
    blue_v = document.getElementById('b-selector').value
    min_v = document.getElementById('data-min').value
    max_v = document.getElementById('data-max').value

    function add_img(red_v, green_v, blue_v, min_v, max_v) {

      url = ""

      // fetch("http://" + ClientIp + ":8003/registerid")
      //   .then(response => {
      //     if (response.ok)
      //       return response.json()
      //     throw new Error('Server no response.')
      //   })
      //   .then(data => {
      //     id_str = data
      //     ids = id_str.split(',')
      //     registerid = ids[1]
      //     console.log("RegisterId: " + registerid)

      //     url = "http://" + ServerIp + ":8082/mosaic/tiles/" + registerid + "/WebMercatorQuad/{z}/{x}/{y}@1x?" +
      //       "assets=" + red_v + "&assets=" + green_v + "&assets=" + blue_v + "&rescale=" + min_v + "," + max_v

      //     if (url != "") {
      //       new_layer()
      //     }

      //   })
      //   .catch(error => {
      //     console.warn(error)
      //   })

      fetch("http://" + ServerIp + ":8082/mosaic/list")
        .then(res => res.json())
        .then((fetchjson) => {
          const startdate_v = document.getElementById('start-date').value
          const enddate_v = document.getElementById('end-date').value
          console.log("startdate: " + startdate_v)
          console.log("enddate: " + enddate_v)

          for (element in fetchjson.searches) {
            let hash = fetchjson.searches[element].search.hash;
            let datetime = fetchjson.searches[element].search.search.datetime;
            console.log(element);
            console.log(hash);
            console.log(datetime);

            if (startdate_v == "" && enddate_v == "" && element == 0) {
              registerid = hash
            }
            else if (datetime == startdate_v+"/"+enddate_v) {
              registerid = hash
            }
          }

          console.log("registerid: " + registerid)
          url = "http://" + ServerIp + ":8082/mosaic/tiles/" + registerid + "/WebMercatorQuad/{z}/{x}/{y}@1x?" +
            "assets=" + red_v + "&assets=" + green_v + "&assets=" + blue_v + "&rescale=" + min_v + "," + max_v

          if (url != "") {
            new_layer()
          }

        }).catch(err => { throw err });
      

      function new_layer() {
        console.log("Add tile: " + url)

        layer_img = L.tileLayer(
          url,
          {
            "attribution": "HLS",
            "maxNativeZoom": 12, // Data max zoom for interpolation of other zoom level.
            "minZoom": 0, // Actual image can show from 4 to 24.
            "maxZoom": 32,
            "noWrap": false,
            "opacity": 1,
            "subdomains": "abc",
            "tms": false
          }
        ).addTo(map);

        layerGroup.addLayer(layer_img);
      }
    }

    // Default start.
    add_img(red_v, green_v, blue_v, min_v, max_v)

    // Change band and scale.
    document.getElementById('dynamic_btn').addEventListener('click', () => {
      red_v = document.getElementById('r-selector').value
      green_v = document.getElementById('g-selector').value
      blue_v = document.getElementById('b-selector').value
      min_v = document.getElementById('data-min').value
      max_v = document.getElementById('data-max').value

      if (map.hasLayer(layer_img)) {
        layerGroup.clearLayers();
        layerGroup.removeLayer(layer_img)
        map.removeLayer(layer_img)
      }

      add_img(red_v, green_v, blue_v, min_v, max_v)
    })

    const switchPane = (event) => {
      const cur = document.getElementById('toolbar').querySelector(".active")
      const activeViz = cur.id
      const nextViz = event.id
      cur.classList.toggle('active')
      event.classList.toggle('active')

      const curSection = document.getElementById(`${activeViz}-section`)
      curSection.classList.toggle('active')
      const nextSection = document.getElementById(`${nextViz}-section`)
      nextSection.classList.toggle('active')
    }

  </script>

</body>

</html>