<!DOCTYPE html>

<html>

<head>

  <title>Client</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css" />

  <link href="{{ url_for('static', path='/css/assembly.min.css') }}" rel='stylesheet'>
  <script src="{{ url_for('static', path='/js/assembly.js') }}"></script>
  <script src="{{ url_for('static', path='/js/d3.v4.js') }}"></script>
  <script src='https://unpkg.com/pickadate@5.0.0-alpha.3/builds/index.js'></script>

  <style>
    html,
    body {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }

    #map {
      position: relative;
      width: 100.0%;
      height: 100.0%;
      left: 0.0%;
      top: 0.0%;
    }

    #toolbar {
      height: 35px;
    }

    #toolbar li {
      display: block;
      color: #fff;
      background-color: #556671;
      font-weight: 700;
      font-size: 12px;
      padding: 5px;
      height: 100%;
      width: 100%;
      text-transform: uppercase;
      text-align: center;
      text-decoration: none;
      outline: 0;
      cursor: pointer;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    #toolbar li svg {
      font-size: 25px;
      line-height: 25px;
      padding-bottom: 0;
    }

    #toolbar li:hover {
      background-color: #28333b;
    }

    #toolbar li.active {
      color: #000;
      background-color: #fff;
    }

    #toolbar li.disabled {
      pointer-events: none;
      opacity: 0.4;
    }

    #menu {
      left: 0;
      top: 10px;
      width: 250px;
      background-color: rgb(111, 111, 111);
      z-index: 999;
    }

    #menu.off {
      left: -200px;
      background-color: red;
    }

    #menu-content section {
      display: none;
    }

    #menu-content section.active {
      display: inherit;
    }

    #btn-query {
      position: relative;
      top: 10px;
    }

    #results-items {
      text-align: left;
      color: #393939;
    }

    #results-items .list-element .col {
      border-top: 1px solid #bfbfbf;
    }

    #results-items .list-element .col {
      color: #393939;
      cursor: pointer;
    }

    #results-items .list-element .col:hover {
      background-color: rgb(88, 84, 84);
      background-color: rgba(88, 84, 84, 0.2);
    }

    .row {
      display: flex;
      width: 100%;
      justify-content: center;
    }

    .zoom-info {
      z-index: 10;
      position: absolute;
      bottom: 17px;
      right: 0;
      padding: 5px;
      width: auto;
      height: auto;
      font-size: 12px;
      color: #000;
    }
  </style>

</head>

<body>

  <div class="folium-map" id="map"></div>

  <div id='menu' class='flex-child w250 w250-ml absolute bg-white off'>
    <!-- 
    <ul id='toolbar' class='grid'>
      <li id='query' class="col col--6 active" title="query" onclick="switchPane(this)">
        Search
      </li>
      <li id='result' class="col col--6" title="result" onclick="switchPane(this)">
        Result
      </li>
    </ul> -->

    <div id='menu-content' class='relative '>

      <!-- <section id='query-section' class='px12 pt12 pb6 active'> -->

      <div class='align-center mb12'>
        <button id='btn-query' class='btn center' title='Search'>Search</button>
      </div>

      <section id='data-layers' class='px6 py6 active'>
        <div class='txt-h5 mb6 color-black'>
          <svg class='icon icon--l inline-block'>
            <use xlink:href='#icon-layers' />
          </svg>Spatial Area
        </div>
        <div class='align-center mb6'>
          <button id='bbox' class='btn btn--stroke color-black round center txt-s opacity75-on-hover' title='bbox'>Zoom
            Map
            <svg class='icon w18 h18 inline-block align-middle'>
              <use xlink:href='#icon-polygon' />
            </svg>
          </button>
        </div>
      </section>

      <section id='data-layers' class='px6 py6 active'>

        <div class='txt-h5 mb6 color-black'>
          <svg class='icon icon--l inline-block'>
            <use xlink:href='#icon-layers' />
          </svg>Date Range
        </div>
        <div class='px6 pt6 pb6'>
          <div class='align-center'>
            <input id="start-date" type="text" placeholder="2022-07-01T00:00:00Z" />
            <input id="end-date" type="text" placeholder="2022-07-02T00:00:00Z" />
          </div>
        </div>
      </section>

      <section id='data-layers' class='px6 py6 active'>
        <div class='txt-h5 mb6 color-black'>
          <svg class='icon icon--l inline-block'>
            <use xlink:href='#icon-layers' />
          </svg>Collection
        </div>
        <div id='select-layer' class='align-center'>
          <div class='select-container'>
            <select id='layer-selector' class='select select--s select--stroke wmax-full color-black'></select>
            <div class='select-arrow color-black'></div>
          </div>
        </div>
      </section>

      <section id='3b-section' class='px6 py6 active'>
        <div class='txt-h5 mb6 color-black'>
          <svg class='icon icon--l inline-block'>
            <use xlink:href='#icon-layers' />
          </svg> RGB
        </div>
        <div id='rgb-buttons' class='align-center px6 py6'>
          <div class='select-container'>
            <select id='r-selector' class='select select--s select--stroke wmax-full color-red'></select>
            <div class='select-arrow color-black'></div>
          </div>
          <div class='select-container'>
            <select id='g-selector' class='select select--s select--stroke wmax-full color-green'></select>
            <div class='select-arrow color-black'></div>
          </div>
          <div class='select-container'>
            <select id='b-selector' class='select select--s select--stroke wmax-full color-blue'></select>
            <div class='select-arrow color-black'></div>
          </div>
        </div>
      </section>

      <div id="minmax-data" class='px6 py6 none'>
        <div class='txt-h5 mb6 color-black'>
          <svg class='icon icon--l inline-block'>
            <use xlink:href='#icon-layers' />
          </svg> Rescale
        </div>
        <div class="row">
          <input id="data-min" class='input input--s w65-ml w60 inline-block align-center color-black' value='0' />
          <input id="data-max" class='input input--s w65-ml w60 inline-block align-center color-black' value='0' />
        </div>
      </div>

      <section id='display' class='px12 pt12 pb12 active'>
        <div class='align-center mb12'>
          <button id='display_btn' class='btn center' title='Display'>Display</button>
        </div>
      </section>

      <!-- </section> -->

      <!-- <section id='result-section'>
        <div id="results-items" class='px12 pt12 pb6'></div>
      </section> -->

    </div>
  </div>

  <script>

    // Compose define this for outside of container Tititler.
    OutsideIp = "0.0.0.0"

    // Outside container use public ip or 0.0.0.0
    // DataIp = "0.0.0.0"

    // Inside container use name for Vizex.
    DataIp = "vizex"

    var red_v, green_v, blue_v, min_v, max_v
    var layer_img
    var area
    var name_file
    var layerGroup = new L.LayerGroup();
    var center_lon, center_lat

    L_NO_TOUCH = false;
    L_DISABLE_3D = false;

    var img = {
      data_stat: undefined, // Statistics.
      data_type: undefined,
      band_name: undefined
    }

    // Set menu values.
    var scope = { collections: undefined, features: [], next_token: undefined, limit: 100, query: {} }

    // Placeholder is not default value.
    // document.getElementById("start-date").defaultValue="2022-10-02T00:00:00Z";

    const startpicker = window.pickadate.create()
    const startdate = document.getElementById('start-date')
    window.pickadate.render(startdate, startpicker)
    startdate.addEventListener('pickadate:change', () => {
      startdate.value = startpicker.getValue('YYYY-MM-DD[T]HH:mm:ss[Z]')
    })

    const endpicker = window.pickadate.create()
    const enddate = document.getElementById('end-date')
    window.pickadate.render(enddate, endpicker)
    enddate.addEventListener('pickadate:change', () => {
      enddate.value = endpicker.getValue('YYYY-MM-DD[T]HH:mm:ss[Z]')
    })

    const zoomtofeature = (id) => {
      const bbox = scope.features.filter(e => { return e.id === id })[0].bbox
    }

    const layerList = document.getElementById('layer-selector')
    const layers = [
      { name: 'HLSS30.v2.0' },
      { name: 'HLSL30.v2.0' },
      { name: 'MODIS' },
      { name: 'VIIRS' },
      { name: 'GOES' }
    ]
    layers.forEach((p) => {
      let opt = document.createElement('option')
      opt.setAttribute('name', p.name)
      opt.text = p.name
      layerList.appendChild(opt)
    })

    // Display search result.
    // let searchResult;
    // const query = (body) => {
    //   const items_el = document.getElementById('results-items')
    //   items_el.innerHTML +=
    //     `<div class="list-element" onclick="zoomtofeature('id')">` +
    //     '<div class="col">' +
    //     '<div class="item-descr">' +
    //     `<span class="collection">Collection HLS<br></span>` +
    //     `<span class="id">Data number: 4200<br></span>` +
    //     `<span class="date">2022-07-01<br></span>` +
    //     '</div>' +
    //     '</div>' +
    //     '</div>'
    // }

    document.getElementById('menu').classList.toggle('off') // Hide menu.

    img.band_name = ['B01', 'B02', 'B03', 'B04', 'B05', 'B06', 'B07', 'B08', 'B8A', 'B09', 'B10', 'B11', 'B12']

    const nbands = img.band_name.length

    const rList = document.getElementById('r-selector')
    for (var i = 0; i < nbands; i++) {
      let l = document.createElement('option')
      l.setAttribute('band', img.band_name[i])
      let name = img.band_name[i]
      l.setAttribute('name', name)
      l.text = name
      if (i === 11) l.selected = "selected"
      rList.appendChild(l)
    }

    const gList = document.getElementById('g-selector')
    for (var i = 0; i < nbands; i++) {
      let l = document.createElement('option')
      l.setAttribute('band', img.band_name[i])
      let name = img.band_name[i]
      l.setAttribute('name', name)
      l.text = name
      if (i === 7) l.selected = "selected"
      gList.appendChild(l)
    }

    const bList = document.getElementById('b-selector')
    for (var i = 0; i < nbands; i++) {
      let l = document.createElement('option')
      l.setAttribute('band', img.band_name[i])
      let name = img.band_name[i]
      l.setAttribute('name', name)
      l.text = name
      if (i === 4) l.selected = "selected"
      bList.appendChild(l)
    }

    document.getElementById('minmax-data').classList.remove('none')
    document.getElementById('data-min').value = 0
    document.getElementById('data-max').value = 4000

    var map
    const define_map = (lat, lon) => {
      map = L.map(
        "map",
        {
          center: [lat, lon], // DC.
          // center: [40.72208147817604, -73.99655178907726], // NY.
          crs: L.CRS.EPSG3857,
          zoom: 8,
          // maxZoom: 12,
          // minZoom: 8,
          zoomControl: false,
          preferCanvas: false,
        }
      );
      L.control.zoom({ position: 'topright' }).addTo(map);
    }
    // Default center.
    center_lat = 38.75
    center_lon = -76.25
    define_map(center_lat, center_lon)
    layerGroup.addTo(map);

    const add_basemap = () => {
      var layer_basemap = L.tileLayer(
        "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
        {
          "detectRetina": false,
          "maxNativeZoom": 18,
          "maxZoom": 18,
          "minZoom": 0,
          "noWrap": false,
          "opacity": 1,
          "subdomains": "abc",
          "tms": false
        }
      ).addTo(map);
    }

    add_basemap()

    const remove_layer = () => {
      // scope.features = []
      // scope.next_token = undefined
      // scope.query = {}
      // document.getElementById('results-items').innerHTML = ''
    }

    red_v = document.getElementById('r-selector').value
    green_v = document.getElementById('g-selector').value
    blue_v = document.getElementById('b-selector').value
    min_v = document.getElementById('data-min').value
    max_v = document.getElementById('data-max').value

    function add_img(name_file, red_v, green_v, blue_v, min_v, max_v) {

      url = "http://" + OutsideIp + ":8000/mosaicjson/tiles/WebMercatorQuad/{z}/{x}/{y}@1x?url=http%3A%2F%2F" + DataIp + "%3A8080%2Fjsondata/" + name_file + "&assets=" + red_v + "&assets=" + green_v + "&assets=" + blue_v + "&rescale=" + min_v + "%2C" + max_v

      // Use post process is black color.
      // url = "http://" + OutsideIp + ":8000/mosaicjson/tiles/WebMercatorQuad/{z}/{x}/{y}@1x?url=http%3A%2F%2F" + DataIp + "%3A8080%2Fjsondata&assets=" + red_v + "&assets=" + green_v + "&assets=" + blue_v + "&post_process=swir"

      // Test server.
      // url = "https://d1nzvsko7rbono.cloudfront.net/mosaic/tiles/4c640d25fd8dd78aef47721a71ee8e96/WGS1984Quad/{z}/{x}/{y}@1x?assets=B07&assets=B05&assets=B04&post_process=swir"

      console.log("Add image: " + url)

      layer_img = L.tileLayer(
        url,
        {
          "attribution": "HLS",
          "detectRetina": false,
          "maxNativeZoom": 12,
          "maxZoom": 12,
          "minZoom": 8,
          // "minZoom": 9, // Test server.
          "noWrap": false,
          "opacity": 1,
          "subdomains": "abc",
          "tms": false
        }
      ).addTo(map);

      layerGroup.addLayer(layer_img);
    }

    // Default image when start if it has data in data server.
    // add_img("defaultdata.json", red_v, green_v, blue_v, min_v, max_v)

    // Draw polygon.
    // var draw_area = new MapboxDraw({
    //   displayControlsDefault: false,
    // });

    // let NewPolygon;

    // function addLatLngToPolygon(clickEventData) {
    //   NewPolygon.addLatLng(clickEventData.latlng);
    // }

    // function simplifyLatLngs(latlngs) {
    //   var x = [];
    //   for (var i = 0; i < latlngs.length; i++) {
    //     console.log(latlngs[i].lat)
    //     x.push([latlngs[i].lat, latlngs[i].lng]);
    //   }
    //   return x;
    // }

    // Draw.
    document.getElementById('bbox').addEventListener('click', () => {
      //draw_area.deleteAll();
      //if (draw_area.getMode() !== 'simple_select') draw_area.changeMode('simple_select');
      //draw_area.changeMode('draw_polygon')

      // Draw.
      // NewPolygon = new L.polygon([]).addTo(map);
      // map.on('click', addLatLngToPolygon);

      // const options = {
      //   draw: {
      //     polygon: {
      //       allowIntersection: false,
      //       allowOverlap: false,
      //       showArea: true,
      //       shapeOptions: {
      //         color: '#3375CC',
      //         weight: 5
      //       }
      //     }
      //   },
      //   edit: {
      //     poly: {
      //       allowIntersection: false,
      //       allowOverlap: false
      //     }
      //   }
      // };
      // var polygonEditor = new WrldIndoorPolygonEditor(map, options);
      // var indoorControl = new WrldIndoorControl("widget-container", map);
      // var counter = 0;
      // map.on(L.Draw.Event.CREATED, function (e) {
      //   var layer = e.layer;
      //   if (layer instanceof Wrld.Polygon) {
      //     layer.setUserData(counter++);
      //     console.log("Created Polygon with userdata: " + layer.getUserData());
      //     layer.on("click", function (e) {
      //       console.log("Polygon data: " + e.target.getUserData() + " Points: " + e.target.getLatLngs());
      //     });
      //   }
      // });
      // map.on(L.Draw.Event.DELETED, function (e) {
      //   var layers = e.layers;
      //   layers.eachLayer(layer => {
      //     if (layer instanceof Wrld.Polygon) {
      //       console.log("Deleted Polygon with userdata: " + layer.getUserData());
      //     }
      //   })
      // });
      // map.on(L.Draw.Event.EDITSTART, function (e) {
      //   setIndoorControlVisbility(indoorControl, false);
      // });
      // map.on(L.Draw.Event.EDITSTOP, function (e) {
      //   setIndoorControlVisbility(indoorControl, true);
      // });
      // map.on(L.Draw.Event.DRAWSTART, function (e) {
      //   setIndoorControlVisbility(indoorControl, false);
      // });
      // map.on(L.Draw.Event.DRAWSTOP, function (e) {
      //   setIndoorControlVisbility(indoorControl, true);
      // });

    })
    // map.addControl(draw_area);

    // Change band and scale.
    document.getElementById('display_btn').addEventListener('click', () => {
      red_v = document.getElementById('r-selector').value
      green_v = document.getElementById('g-selector').value
      blue_v = document.getElementById('b-selector').value
      min_v = document.getElementById('data-min').value
      max_v = document.getElementById('data-max').value

      if (map.hasLayer(layer_img)) {
        layerGroup.clearLayers();
        layerGroup.removeLayer(layer_img)
        map.removeLayer(layer_img)
      }

      add_img(name_file, red_v, green_v, blue_v, min_v, max_v)

    })

    // Search.
    document.getElementById('btn-query').addEventListener('click', () => {
      body = { limit: scope.limit }
      filter = { op: 'and', args: [] }

      // Get polygon.
      // const draws = draw_area.getAll()
      // if (draws.features.length !== 0)
      //   filter.args.push({ "op": "s_intersects", "args": [{ "property": "geometry" }, draws.features[0].geometry] })
      // draw_area.deleteAll();
      // console.log("area: " + draws.features[0].geometry.coordinates[0])

      // Get xy.
      // let xyArray = simplifyLatLngs(NewPolygon.getLatLngs());
      // console.log("Polygon xy: " + xyArray);
      // Stop.
      // map.off('click', addLatLngToPolygon);

      // Map extent.
      // let west_v  = map.getBounds()._southWest.lng
      // let east_v  = map.getBounds()._southWest.lat
      // let south_v = map.getBounds()._northEast.lng
      // let north_v = map.getBounds()._northEast.lat

      // STAC API World lon can be 180, lat max is 89.9
      // west_v = -180
      // east_v = 180
      // south_v = -89.9
      // north_v = 89.9

      // CMR API default.
      west_v = -180
      east_v = 180
      south_v = -90
      north_v = 90

      // US
      // west  = -125
      // east  = -66
      // south = 25
      // north = 50

      // dc 2 good image.
      // west_v = -77
      // south_v = 38.5
      // east_v = -76.5
      // north_v = 39

      let startdate_v = document.getElementById('start-date').value
      let enddate_v = document.getElementById('end-date').value

      if (startdate_v == "") {
        // dc good image.
        // startdate_v = "2022-10-01T00:00:00Z"
        // Global image.
        startdate_v = "2022-07-01T00:00:00Z"
      }
      if (enddate_v == "") {
        // enddate_v = "2022-11-04T00:00:00Z"
        enddate_v = "2022-07-02T00:00:00Z"
      }

      const collection_v = document.getElementById('layer-selector').value

      red_v = document.getElementById('r-selector').value
      green_v = document.getElementById('g-selector').value
      blue_v = document.getElementById('b-selector').value
      min_v = document.getElementById('data-min').value
      max_v = document.getElementById('data-max').value

      // Search.
      searchstr = {
        "west": west_v,
        "east": east_v,
        "south": south_v,
        "north": north_v,
        "date": startdate_v + "," + enddate_v,
        "collection": collection_v,
        "red": red_v,
        "green": green_v,
        "blue": blue_v,
        "scale": min_v + "," + max_v
      }
      console.log("Send request: " + JSON.stringify(searchstr))
      fetch("http://" + OutsideIp + ":8080/search",
        {
          method: "POST",
          headers: {
            "Accept": "application/json",
            "Content-Type": "application/json"
          },
          body: JSON.stringify(searchstr)
        }
      )
        .then(response => {
          if (response.ok)
            return response.json()
          throw new Error('Server no response.')
        })
        .then(data => {
          msg = data.response
          console.log("Get response: " + JSON.stringify(msg))

          if (msg == "nodata") {
            console.log("No data: ")
          }
          else {
            // sleep(10000);

            // var msgArray = JSON.parse(msg)
            // center_lat = msgArray[0]
            // center_lon = msgArray[1]
            // name_file = msgArray[2]

            center_lat = msg.lat
            center_lon = msg.lon
            name_file = msg.file

            // console.log(center_lat + "," + center_lon + "," + name_file)

            // if (map.hasLayer(layer_img)) {
            //   layerGroup.clearLayers();
            //   layerGroup.removeLayer(layer_img)
            //   map.removeLayer(layer_img)
            // }
            // if (map.hasLayer(area)) {
            //   layerGroup.clearLayers();
            //   layerGroup.removeLayer(area)
            //   map.removeLayer(area)
            // }
            // map.removeLayer(L.tileLayer)
            // map.removeLayer(L.geoJson);
            // L.geoJSON().clearLayers();

            // Remove basemap, bound, img.
            map.eachLayer(function (layer) {
              map.removeLayer(layer);
            });

            center_lat = (south_v + north_v) / 2
            center_lon = (west_v + east_v) / 2
            // define_map(center_lat, center_lon)
            add_basemap()
            add_img(name_file, red_v, green_v, blue_v, min_v, max_v)

            // Bound,
            fetch("http://" + OutsideIp + ":8080/jsonbound")
              .then(response => {
                if (response.ok)
                  return response.json()
                throw new Error('Server no response.')
              })
              .then(data => {
                console.log("Add bounds.")
                area_add(data)
              })
              .catch(error => {
                console.warn(error)
              })
          }
        })
        .catch(error => {
          console.warn(error)
        })

      // Switch to search, result.
      scope.query = body
      // query(body)
      // document.getElementById('query').classList.toggle('active')
      // document.getElementById('result').classList.toggle('active')
      // document.getElementById(`query-section`).classList.toggle('active')
      // document.getElementById(`result-section`).classList.toggle('active')
    })

    const switchPane = (event) => {
      const cur = document.getElementById('toolbar').querySelector(".active")
      const activeViz = cur.id
      const nextViz = event.id
      cur.classList.toggle('active')
      event.classList.toggle('active')

      const curSection = document.getElementById(`${activeViz}-section`)
      curSection.classList.toggle('active')
      const nextSection = document.getElementById(`${nextViz}-section`)
      nextSection.classList.toggle('active')
    }

    // Bound.
    function area_styler(feature) {
      switch (feature.properties.path) {
        default:
          return { "dashArray": "1", "fillOpacity": 0, "opacity": 1, "weight": 1 };
      }
    }

    function area_onEachFeature(feature, layer) {
      layer.on({
      });
    };

    function area_add(data) {
      area = L.geoJson(null, {
        onEachFeature: area_onEachFeature,
        style: area_styler,
      });

      layerGroup.addLayer(area);

      area
        .addData(data)
        .addTo(map);
    }

  </script>

</body>

</html>